body
  margin: 0
  padding: 0

#root
  position: relative

.overlay
  opacity: .75
  width: 400px
  position: fixed
  bottom: 0
  padding: 8px
  margin: 8px
  kbd
    background: #888
  a
    font-size: .75rem
    color: inherit
    text-decoration: none
  a:hover
    text-decoration: underline
  ul.help-text
    padding-left: 0
    list-style: none
    li
      padding-bottom: .25rem
  ul.links
    padding-left: 0
    margin-bottom: 0
    list-style: none
    li
      display: inline
      margin-right: 15px

.overlay.active
  background: #333
  border-radius: .25rem
  color: #fff

#panel
  position: absolute
  right: 0
  width: 40vw
  height: 100vh
  padding-top: 15px
  background: #fff
  overflow-y: scroll
  box-shadow: 4px 0 8px
  textarea
    border: none
    outline: none
    width: 100%
    height: 90%

#note-graph
  position: absolute
  z-index: -1
  width: 100vw
  height: 100vh
  background: #F2F5EA

.toolbar
  padding-bottom: 15px
  .close
    margin-top: 5px
    float: none
  .toolbar-middle
    text-align: center
  .toolbar-right
    text-align: right
    .btn-sm
      margin-top: 6px

pre
  padding: .2rem .4rem
  font-size: 90%
  background-color: #f7f7f9
  border-radius: .25rem
