$white:  #fff !default
$black:  #000 !default
$red:    #d9534f !default
$orange: #f0ad4e !default
$yellow: #ffd500 !default
$green:  #5cb85c !default
$blue:   #0275d8 !default
$teal:   #5bc0de !default
$pink:   #ff5b77 !default
$purple: #613d7c !default

$gray-dark:                 #292b2c !default
$gray:                      #464a4c !default
$gray-light:                #636c72 !default
$gray-lighter:              #eceeef !default
$gray-lightest:             #f7f7f9 !default

$brand-primary:             $blue !default
$brand-success:             $green !default
$brand-info:                $teal !default
$brand-warning:             $orange !default
$brand-danger:              $red !default
$brand-inverse:             $gray-dark !default

$graph-background: #fdfdfd

body
  margin: 0
  padding: 0

#root
  position: relative

.overlay
  opacity: .75
  width: 400px
  position: fixed
  bottom: 0
  padding: 8px
  margin: 8px
  kbd
    background: $gray-light
    color: $white
  a
    font-size: .75rem
    color: inherit
    text-decoration: none
  a:hover
    text-decoration: underline
  ul.help-text
    padding-left: 0
    list-style: none
    li
      padding-bottom: .25rem
  ul.links
    padding-left: 0
    margin-bottom: 0
    list-style: none
    li
      display: inline
      margin-right: 15px

.overlay.active
  background: $gray-dark
  border-radius: .25rem
  color: $graph-background

#panel
  position: absolute
  right: 0
  width: 40vw
  height: 100vh
  padding-top: 15px
  background: #fff
  overflow-y: scroll
  box-shadow: 4px 0 8px
  .note-form
    textarea
      resize: none
      padding: 0
      border: none
      outline: none
      width: 100%
  .connected-note a
    color: inherit

#note-graph
  position: absolute
  z-index: -1
  width: 100vw
  height: 100vh
  background: $graph-background

.toolbar
  padding-bottom: 15px
  .close
    margin-top: 5px
    float: none
  .toolbar-middle
    text-align: center
  .toolbar-right
    text-align: right
    .btn-sm
      margin-top: 6px

pre
  padding: .2rem .4rem
  font-size: 90%
  background-color: $gray-lightest
  border-radius: .25rem
