body
  margin: 0
  padding: 0

#root
  position: relative

#panel
  position: absolute
  right: 0
  width: 40vw
  height: 100vh
  padding-top: 15px
  background: #fff

#note-graph
  position: absolute
  z-index: -1
  width: 100vw
  height: 100vh
  background: #696D7D

.note-textarea
  height: 90%
